<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hypershop_spikeperformance>
            <settings>
                <enabled>0</enabled>
                <cron_expression>0 3 * * *</cron_expression>
            </settings>
        </hypershop_spikeperformance>
    </default>
</config>
