<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hypershop_config" translate="label" sortOrder="-9999" class="hypershop-tab">
            <label>Hyperstack</label>
        </tab>

        <section id="hypershop_spikeperformance" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Spike Performance</label>
            <tab>hypershop_config</tab>
            <resource>Hypershop_SpikePerformance::hypershop_config_spikeperformance</resource>

            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>

                <field id="enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this extension to temporarily disable any cache flush from the Magento backend or
                        frontend. Useful for moments when large traffic amounts are expected and the performance needs
                        to be optimal.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
