<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hypershop_config" translate="label" sortOrder="-9999" class="hypershop-tab">
            <label>Hyperstack</label>
        </tab>

        <section id="hypershop_spikeperformance" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Spike Performance</label>
            <tab>hypershop_config</tab>
            <resource>Hypershop_SpikePerformance::hypershop_config_spikeperformance</resource>

            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this extension to temporarily disable any cache flush from the Magento backend or
                        frontend. Useful for moments when large traffic amounts are expected and the performance needs
                        to be optimal.
                    </comment>
                </field>
                <field id="cron_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cronjob enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Activates a cronjob that flushes cache &amp; reindex Magento programmatically <strong>(Runs at 03:00)</strong>]]></comment>

                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!--<field id="cron_expr" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron expression - Cache flush &amp; Reindex</label>
                    <comment>
                    <![CDATA[
                    Enter cron expression<br/>
                    <br/>
                    * * * * *<br/>
                    | | | | |<br/>
                    | | | | +&#45;&#45;&#45;&#45; Day of the Week   (range: 0-6, 1 standing for Monday)<br/>
                    | | | +&#45;&#45;&#45;&#45;&#45;&#45; Month of the Year (range: 1-12)<br/>
                    | | +&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Day of the Month  (range: 1-31)<br/>
                    | +&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Hour              (range: 0-23)<br/>
                    +&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Minute            (range: 0-59)<br/>
                    <br/>
                    Read more about cron expressions - <a target="_blank" href="https://en.wikipedia.org/wiki/Cron">here</a>
                    ]]>
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="cron_enabled">1</field>
                    </depends>
                </field>-->
            </group>
        </section>
    </system>
</config>
